Source: dropmail
Section: perl
Priority: extra
Maintainer: Andrew Chilton <chilts@appsattic.com>
Uploaders: Andrew Chilton <chilts@appsattic.com>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl

Package: dropmail
Section: perl
Priority: extra
Architecture: all
Depends: ${perl:Depends}, libfile-slurp-perl, libjson-any-perl, libmime-lite-perl, liblog-log4perl-perl
Description: command line tool to send emails in a queue
 Dropmail allows programs to create emails, but not have to deal with any email
 library. All they need to do is write a file in JSON format into a particular
 directory, and it'll get sent as and when dropmail is scheduled to run.
